.header {
  position: sticky;
  top: 0;
  border-radius: 24px 24px 0 0;
  background-color: var(--mantine-color-midnight-8);
  transition: box-shadow 150ms ease;
  z-index: 1;
}

.scrolled {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row {
  font-size: 12px;
}

.row:hover {
  background-color: rgba(63, 82, 111, 0.3);
}
