.tilesContainer {
  height: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--mantine-radius-lg);
  border: 1px dashed var(--mantine-color-gray-8);
}
