.home {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle at 25% 50%, #0a1025 0%, #000510 100%);
  position: relative;
  overflow: hidden;
}

.home::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 40vmin;
  height: 40vmin;
  background: radial-gradient(
    circle at center,
    rgba(0, 80, 255, 0.15) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  filter: blur(15px);
  border-radius: 50%;
  z-index: 0;
}

.home::after {
  content: "";
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 40vmin;
  height: 40vmin;
  background: radial-gradient(
    circle at center,
    rgba(128, 0, 255, 0.15) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  filter: blur(15px);
  border-radius: 50%;
  z-index: 0;
}
