.main {
  min-height: 100vh;
  min-width: 100vw;
  background: radial-gradient(circle at 25% 50%, #0a1025 0%, #000510 100%);
  color: var(--mantine-color-white);
  position: relative;
}

.wrapper {
  padding: 140px 40px 16px;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 80px 16px 4px;
  }
}
