.main {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--mantine-color-black);
  color: var(--mantine-color-white);
  position: relative;
}

.wrapper {
  padding: 140px 40px;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 80px 16px;
  }
}
